You're invited to {{ app_name }}

{{ inviter_name }} has invited you to {{ app_name }}. Open this link to choose
your name and password. It works once and expires in {{ ttl_days }} days.

{{ accept_url }}

If you were not expecting this, you can ignore it. No account is created
until you accept.

--
Sent by {{ app_name }}.
